{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>Beet Delivery</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
  <script src="{% static 'fontawesomefree/js/fontawesome.js' %}"></script>
  <script src="{% static 'fontawesomefree/js/solid.js' %}"></script>
  <script src="{% static 'fontawesomefree/js/brands.js' %}"></script>
  <style>
    html,
    body {
      margin: 0;
      height: 100vh;
    }

    .nav-link {
      color: whitesmoke;
    }

    .nav-link:hover {
      color: grey;
    }
  </style>
</head>

<body>
  <ul class="navbar navbar-expand-sm navbar-dark bg-dark" style="padding-right: 10px;">
    <li class="nav-item"><a href="{% url 'home' %}" target="_self" class="nav-link h5 fw-light">Fuherenkontrolle</a>
    </li>
    <!-- <li class="nav-item flex-grow-1 padded-nav"><a class="nav-link w-100 text-center">{{ current_time }}</a></li> -->
    {% if request.user.is_authenticated %}
    {% if request.is_manager %}
    <li class="nav-item"><a href="{% url 'manager_schedule_selection' %}" class="nav-link h5 fw-light">Tageslisten</a>
    </li>
    <li class="nav-item"><a href="{% url 'receipt' %}" class="nav-link h5 fw-light">Abrechnungen</a></li>
    <li class="nav-item"><a
        href="{% if year %} {% url 'parameter_year' year %} {% else %} {% url 'parameter' %} {% endif %}"
        class="nav-link w-100 text-center h5 fw-light">Parameter</a></li>
    {% endif %}
    <div class="row flex-grow-1 justify-content-end ">
      <li class="nav-item w-25" style="margin-right: 10px;"><a href="{% url 'logout' %}"
          class="nav-link w-100 text-center h5 fw-light">Logout</a>
      </li>
    </div>
    {% endif %}

  </ul>

  <div class="container" style="height:90%">
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% block content %} {% endblock %}
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- <script src="{% static 'formset_js_improved/jquery.formset.js' %}"></script> -->

  {% block scripts %}{% endblock %}

  <!-- Add the content of your page here -->
</body>

</html>