{% extends 'base.html' %}


{% block content %}

<p>Hills to stations distances for year {{ year }}:</p>
<form method="POST" method="POST" class="row mt-5 justify-content-center">
    {% csrf_token %}
    {% for field in form %}
    <div class="col-5">
        {{ field.label_tag }}
        {{ field }}
        {{ field.errors }}
        </div>
    {% endfor %}
    <div class="row justify-content-center mt-5" style="height:70px;">
        <input type="submit" value="Submit" class="btn btn-secondary btn-lg w-25">
    </div>
</form>

<div class="row" style="margin-bottom: 400px;">
    <table class="table mt-5" style="margin-bottom: 200px;">
        <thead>
        <tr>
            <th scope="col">Farmer&Hill</th>            
            <th scope="col">Distance(km)</th>
        </tr>
    </thead>
    <tbody>
        {% for hsd in all_hsd %}
        <tr>
            <td>{{ hsd.hill }}</td>
            <td>{{ hsd.distance }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}