{% extends 'base.html' %}
{% block content %}

<h5 style="padding-top: 5%">Distance from hill to station {{ year }}</h5>
<form method="POST" method="POST" class="row mt-5">
    {% csrf_token %}
    {% for field in form %}
    <div class="col-5">
        {{ field.label_tag }}
        {{ field }}
        {{ field.errors }}
        </div>
    {% endfor %}
    <div class="row mt-5" style="height:70px;">
        <input type="submit" value="Submit" class="btn btn-secondary btn-lg w-25" style="margin-left: 12px;">
    </div>
</form>

<div class="table-container">
    <table class="table">
        <thead style="position: sticky; top: 0;">
            <tr>
                <th scope="col">Farmer | Hill</th>            
                <th scope="col">Distance[km]</th>
            </tr>
    </thead>
    <tbody>
        {% for hd in all_hsd %}
        <tr>
            <td>{{ hd.hill }}</td>
            <td>{{ hd.distance }}</td>
            <td>
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#deleteModal{{ hd.id }}">
                <i class="fa-solid fa-trash"></i>
            </button>

            <div class="modal fade" id="deleteModal{{ hd.id }}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">Delete Confirmation</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete this?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <a href="{% url 'delete_hd' hd.id %}" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}