{% extends 'base.html' %}


{% block content %}
<p>List of transportations for year {{ year }}:</p>
<div class="row" style="margin-bottom: 400px;">
    <table class="table mt-5" style="margin-bottom: 200px;">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Station</th>
                <th scope="col">Ratte</th>
            </tr>
        </thead> 
        <tbody>
            {% for sch in schedules %}
            {% for daily in sch %}
                <tr>
                    <td>{{ daily.date }}</td>
                    <td>{{ daily.schedule.station }}</td>
                    <td>{{ daily.transportation_set.first.ratte }}</td>
                    <td><a href="{% url 'schedule' daily_id=daily.id %}"><i class="fa-solid fa-arrow-right"></i></a></td>
                </tr>
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
