{% extends 'base.html' %}


{% block content %}
<p>Prameters for year {{ year }}:</p>
<div class="row justify-content-center" style="padding-top: 10%">
    <div class="row mt-4 justify-content-center">
        <button id="gas_charge" class="btn btn-secondary btn-lg w-50" style="height:70px;">Gas Charge</button>
    </div>
    <div class="row mt-4 justify-content-center">
        <button id="distance_price_button" class="btn btn-secondary btn-lg w-50" style="height:70px;">Distance Price</button>
    </div>
    <div class="row mt-4 justify-content-center">    
        <button id="stations_exports_button" class="btn btn-secondary btn-lg w-50" style="height:70px;">Station Export</button>
    </div>
    <div class="row mt-4 justify-content-center">
        <button id="hill_distance_button" class="btn btn-secondary btn-lg w-50" style="height:70px;">Hill Distances</button>
    </div>
</div>
{% endblock %} 


{% block scripts %}
<script>
    document.getElementById("gas_charge").addEventListener("click", function() {
        window.location.href = "{% url 'gas_charge' year %}";
    });
    document.getElementById("distance_price_button").addEventListener("click", function() {
        window.location.href = "{% url 'distance_price' year %}";
    });
    document.getElementById("stations_exports_button").addEventListener("click", function() {
        window.location.href = "{% url 'stations_exports' year %}";
    });
    document.getElementById("hill_distance_button").addEventListener("click", function() {
        window.location.href = "{% url 'hill_distance' year %}";
    });
</script>
{% endblock %} 

 