{% extends 'base.html' %}


{% block content %}
<h5 style="padding-top: 5%">Prameters for the year {{ year }}</h5>
<div class="row justify-content-center" style="padding-top: 3%">
    <div class="row mt-4">
        <button id="select_year" class="btn btn-secondary btn-lg w-50" style="height:70px;">Choose Year</button>
    </div>
    <div class="row mt-4">
        <button id="gas_charge" class="btn btn-secondary btn-lg w-50" style="height:70px;">Gas Charge</button>
    </div>
    <div class="row mt-4">
        <button id="distance_price_button" class="btn btn-secondary btn-lg w-50" style="height:70px;">Price of Distance</button>
    </div>
    <div class="row mt-4">    
        <button id="stations_exports_button" class="btn btn-secondary btn-lg w-50" style="height:70px;">Station Exports</button>
    </div>
    <div class="row mt-4">
        <button id="hill_distance_button" class="btn btn-secondary btn-lg w-50" style="height:70px;">Hill Station Distances</button>
    </div>
</div>
{% endblock %} 


{% block scripts %}
<script>
    document.getElementById("select_year").addEventListener("click", function() {
        window.location.href = "{% url 'select_year' %}";
    });
    document.getElementById("gas_charge").addEventListener("click", function() {
        window.location.href = "{% url 'gas_charge' year %}";
    });
    document.getElementById("distance_price_button").addEventListener("click", function() {
        window.location.href = "{% url 'select_currency' year %}";
    });
    document.getElementById("stations_exports_button").addEventListener("click", function() {
        window.location.href = "{% url 'stations_exports' year %}";
    });
    document.getElementById("hill_distance_button").addEventListener("click", function() {
        window.location.href = "{% url 'hill_distance' year %}";
    });
</script>
{% endblock %} 

 