{% block scripts %}
<script>
    // Obtain the button elements
    var distancePriceButton = document.getElementById('distance_price_button');
    var stationsExportsButton = document.getElementById('stations_exports_button');
    var hillDistanceButton = document.getElementById('hill_distance_button');
    var saveButton = document.getElementById('save_button');

    // Obtain the form container
    var formContainer = document.getElementById('form_container');
    var distancePriceFormContainer = document.getElementById('distance_price_div')
    var stationsExportsFormContainer = document.getElementById('stations_exports_div')
    var hillDistanceFormContainer = document.getElementById('hill_distance_div')

    distancePriceButton.addEventListener('click', function(event) {
    // Prevent form from being submitted
        event.preventDefault();

        var selected_year = document.getElementById('selected_year').innerText;

        // Check if stationsExportsFormContainer is already displayed
        if (distancePriceFormContainer.style.display === 'block') {
            // If it's already displayed, hide it
            distancePriceFormContainer.style.display = 'none';
            saveButton.style.display = 'none';
        } else {
            // If it's not displayed, fetch the data and show it
            fetch("/distance-price/"+selected_year+"/")
                .then(response => response.text())
                .then(data => {
                    distancePriceFormContainer.innerHTML = data;
                    distancePriceFormContainer.style.display = 'block';
                    saveButton.style.display = 'block';
                });
        }
    });

    stationsExportsButton.addEventListener('click', function(event) {
        // Prevent form from being submitted
        event.preventDefault();

        var selected_year = document.getElementById('selected_year').innerText;

        // Check if stationsExportsFormContainer is already displayed
        if (stationsExportsFormContainer.style.display === 'block') {
            // If it's already displayed, hide it
            stationsExportsFormContainer.style.display = 'none';
            saveButton.style.display = 'none';
        } else {
            // If it's not displayed, fetch the data and show it
            fetch("/stations-exports/"+selected_year+"/")
                .then(response => response.text())
                .then(data => {
                    stationsExportsFormContainer.innerHTML = data;
                    stationsExportsFormContainer.style.display = 'block';
                    saveButton.style.display = 'block';
                });
        }
    });

    hillDistanceButton.addEventListener('click', function(event) {
    // Prevent form from being submitted
        event.preventDefault();

        var selected_year = document.getElementById('selected_year').innerText;

        // Check if stationsExportsFormContainer is already displayed
        if (hillDistanceFormContainer.style.display === 'block') {
            // If it's already displayed, hide it
            hillDistanceFormContainer.style.display = 'none';
            saveButton.style.display = 'none';
        } else {
            // If it's not displayed, fetch the data and show it
            fetch("/hill-distance/"+selected_year+"/")
                .then(response => response.text())
                .then(data => {
                    hillDistanceFormContainer.innerHTML = data;
                    hillDistanceFormContainer.style.display = 'block';
                    saveButton.style.display = 'block';
                });
        }
    });


    saveButton.addEventListener('click', function(event) {
        // Prevent form from being submitted
        event.preventDefault();

        // Here you should implement logic to send the data to your server
        // For example, you could use the fetch API to send the data using AJAX
    });
</script>

{% endblock %} 

 