{% extends 'base.html' %}


{% block content %}
<p>year {{ year }}:</p>
<form method="POST" class="row mt-5 justify-content-center">
    {% csrf_token %}
    {% for field in form %}
    {% if field.name == 'year' %}
        <div class="col-2">
        {% else %}
        <div class="col-6">
            {% endif %}
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
        </div>
    {% endfor %}

    <div class="row justify-content-center mt-5" style="height:50px;">
        <input type="submit" value="Select" class="btn btn-secondary btn-lg w-25" >
    </div>
    
</form>


{% if driver %}

<!-- 
<div class="row" style="margin-bottom: 400px;">
    <table scope="col" style="margin-bottom: 200px;"> -->

<div class="row mt-5" id="print-content">
    <h4>Receipt for {{ driver }} at year {{ year }}:</h4>
    <table class="table mt-3">
        <thead>
            <tr>
                <th scope="col">Farmer&Hill</th>
                <th scope="col">km</th>
                <th scope="col">CHF*km</th>
                <th scope="col">kg/m <sup>3</sup></th>
                <th scope="col">m <sup>3</sup></th>
                <th scope="col">CHF</th>            
            </tr>
        </thead>
        <tbody>
            {% for price in prices %}
            <tr>
                <td>{{ price.0 }}</td>
                <td>{{ price.1 }}</td>
                <td>{{ price.2 }}</td>
                <td>{{ price.3 }}</td>
                <td>{{ price.4 }}</td>
                <td>{{ price.5 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="row mt-5">
        <p>Total Price: {{total_price}}</p>
        <p>Gas Tax: {{gas_tax}}</p>
        <p>Final Amount: {{final_price}}</p>
    </div>
</div>

<div class="row mt-3 justify-content-center" style="height:50px;">
    <button id="print-button" class="btn btn-secondary btn-lg w-100"" >Print</button>
</div>

{% endif %}

<script>
    document.getElementById("print-button").addEventListener("click", function(event) {
        event.preventDefault(); // Prevent form submission

        var selectedDriver = document.querySelector('select[name="driver"]').value;
        
        if (selectedDriver) {
            console.log("Selected Driver:", selectedDriver); // Print the selected driver in the console
            var printContent = document.getElementById("print-content").innerHTML;
            var originalContent = document.body.innerHTML;
            document.body.innerHTML = printContent;
            window.print();
            document.body.innerHTML = originalContent;
        } else {
            alert("Please select a driver before printing.");
        }   
    });
</script>
{% endblock %}
