{% extends 'base.html' %}

<!-- {% load custom_tags %} -->

{% block styles %}
<style>
    .form-row {
        display: inline-block;
        margin-right: 10px;
    }

    th {
        padding-top: 25px;
        padding-bottom: 10px;
    }

    td {
        padding-left: 30px;
        padding-right: 30px;
    }

    .save_form {
        padding-top: 25px;
    }

</style>
{% endblock %}

{% block content %}

<form method="POST">
    {% csrf_token %}
    <!-- <div class="button-container">
        <div class="my-button">{{ form.hill }}</div>
        <div class="my-button">{{ form.driver }}</div>
        <button type="submit" name="action" value="time" class="my-button">Submit</button>
    </div> -->
    <!-- {{ form|as_row }} -->
    {% for field in form %}
        <div class="form-row">
        {{ field.label_tag }} {{ field }} {{ field.errors }}
        </div>
    {% endfor %}
    <input type="submit" value="Push">
</form>

<table>
    <thead>
        <tr>
            <th>Farmer and Hill</th>
            <th>Delivered Time</th>
            <th>Driver</th>
            <th>Quantity</th>            
        </tr>
    </thead>
    <tbody>
        {% for trp in transportations %}
        <tr>
            <td>{{ trp.hill }}</td>
            <td>{{ trp.arrival_time }}</td>
            <td>{{ trp.driver }}</td>
            <td>{{ trp.container_size }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<form action="{% url 'save_schedule' %}" method="POST" class="save_form">
    {% csrf_token %}
    <input type="hidden" name="schedule_id" value="{{ schedule.id }}">
    <input type="submit" value="Save and Close">
</form>


{% endblock %}

