{% extends 'base.html' %}


{% block content %}
<p>Staiton exports for year {{ year }}:</p>
<form method="POST" class="row mt-5 justify-content-center">
    {% csrf_token %}
    {% for field in form %}
        <div class="col-5">
        {{ field.label_tag }}
        {{ field }}
        {{ field.errors }}
        </div>
    {% endfor %}
    <div class="row justify-content-center mt-5" style="height:70px;">
        <input type="submit" value="Submit" class="btn btn-secondary btn-lg w-25">
    </div>
</form>

<div class="row" style="margin-bottom: 400px;">
    <table class="table mt-5" style="margin-bottom: 200px;">
        <thead>
            <tr>
                <th scope="col">Station</th>
                <th scope="col">Exported(t)</th>  
                <th scope="col">Density(t/m <sup>3</sup>)</th>
            </tr>
        </thead> 
        <tbody>
            {% for se in all_se %}
            <tr>
                <td>{{ se.station }}</td>
                <td>{{ se.total_tons }}</td>
                <td>{{ se.density }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

