{% extends 'base.html' %}

{% block styles %}
<style>
    .form-row {
        display: inline-block;
        margin-right: 10px;
    }

    th {
        padding-top: 25px;
        padding-bottom: 10px;
    }

    td {
        padding-left: 30px;
        padding-right: 30px;
    }

    .save_form {
        padding-top: 25px;
    }

</style>
{% endblock %}

{% block content %}

<form method="POST" method="POST" class="save_form">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-row">
        {{ field.label_tag }} {{ field }} {{ field.errors }}
        </div>
    {% endfor %}
    <input type="submit" value="Save">
</form>
<!-- 
<form action="{% url 'save_schedule' %}" method="POST" class="save_form">
    {% csrf_token %}
    <input type="hidden" name="schedule_id" value="{{ schedule.id }}">
    <input type="submit" value="Save and Close">
</form> -->
<table>
    <thead>
        <tr>
            <th>Station</th>
            <th>Total tons</th>
            <th>Density</th>           
        </tr>
    </thead>
    <tbody>
        {% for se in all_se %}
        <tr>
            <td>{{ se.station }}</td>
            <td>{{ se.total_tons }}</td>
            <td>{{ se.density }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

